<%-include('navbar2') %>    
<div class="container text-center mb-3">
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/articles/new" class="btn btn-secondary">Add Article</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>