<div class="container">
<div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Entre your title"  name="title" id="title" required>
  </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control " id="exampleFormControlTextarea1" rows="5"  name="description" id="description" placeholder="Entre your content here" required></textarea>
      </div>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="Submit" class="btn btn-secondary">Save</button>

</div>