
    <%-include('navbar2') %>   
    <div class="container text-center mb-3"> 
    <h1>New  Articles</h1>
   
    <form action="/articles" method="POST">
       <%-include('formfield') %>     

    </form>

</div>